body {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.rootContainer {
  padding: 3% 0;
  background-color: #F2F6FF;
}

.contentContainer {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.plansContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}